// Color palette
$primary-color: #112820;
$secondary-color: #092a55;
$accent-color: #011627;
$accent-color-2: #4bdbad;
$accent-color-3: #dce8ff;

#about {
	padding: calc(var(--navbar-height) + 2rem) 0;
	background-color: rgba($accent-color-3, 0.4);
	backdrop-filter: blur(2px);

	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
	}

	h2 {
		color: $accent-color-2;
		font-size: 4rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

	.about-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center; // Center the content horizontally
		align-items: flex-start;
		margin-bottom: 3rem;
	}

	.bio {
		flex: 1 1 300px;
		max-width: 70%; // Limit the maximum width
		padding: 0 2rem; // Add horizontal padding
		text-align: left; // Keep text left-aligned

		p {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.8;
			margin-bottom: 1rem;
			color: $primary-color;
		}
	}

	// Adds eye-catching styles for skills section
	.skills {
		h3 {
			color: $accent-color;
			font-size: 3rem;
			text-align: center;
			margin-bottom: 1.5rem;
		}

		.skills-tabs {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 1.5rem;
			font-size: 1.5rem;

			.tab-button {
				background-color: $secondary-color;
				color: $accent-color-3;
				border: none;
				padding: 0.5rem 1rem;
				margin: 0.25rem;
				cursor: pointer;
				transition: all 0.3s ease;
				flex: 1 1 auto;
				max-width: 150px;
				border-radius: 0.25rem;

				&.skills-active,
				&:hover {
					background-color: $accent-color-2;
					color: $accent-color;
				}
			}
		}

		.skills-content {
			.skills-list {
				display: none;
				flex-wrap: wrap;
				justify-content: center;
				list-style-type: none;
				padding: 0;

				&.skills-active {
					display: flex;
				}

				li {
					background-color: $secondary-color;
					color: $accent-color-3;
					padding: 0.5rem 1rem;
					margin: 0.5rem;
					border-radius: 0.5rem;
					font-size: 1.8rem;
					transition: all 0.3s ease;

					&:hover {
						background-color: $accent-color-2;
						color: $accent-color;
						transform: translateY(-3px);
					}
				}
			}
		}
	}
}

@media (min-width: 769px) {
	.mobile-caret {
		display: none;
	}
}

@media (max-width: 768px) {
	#about {
		.about-header {
			cursor: pointer;
			font-size: 3rem;
		}

		.mobile-caret {
			display: inline-block;
			font-size: 2.5rem;
		}

		.about-content {
			flex-direction: column;
			align-items: center; // Center items vertically on small screens
			max-height: 1000px; // Adjust this value as needed
			overflow: hidden;
			transition: max-height 0.3s ease-out;

			&.collapsed {
				max-height: 0;
			}
		}

		.bio {
			padding: 0 1rem; // Reduce padding on small screens
			max-width: 90%; // Limit the maximum width
			p {
				font-size: 1.1rem;
			}
		}

		.skills {
			.skills-tabs {
				flex-direction: column;
				align-items: center;

				.tab-button {
					width: 100%;
					max-width: none;
					text-align: center;
					margin: 0.25rem 0;
				}
			}
		}
	}
}
