#blog-container {
  padding-top: var(--navbar-height);
}

.post {
  padding: 20px;
  margin-bottom: 30px;
  background: rgba(220, 232, 255, 0.3);
  width: 100%;
  box-shadow: 0 4px 6px rgba(1, 22, 39, 0.1);
  transition: transform 0.3s ease;
  border-radius: 0.25rem;
}
.post:hover {
  transform: translateY(-5px);
}
.post .postTitle {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #092a55;
  text-shadow: 1px 1px 2px rgba(17, 40, 32, 0.5);
  cursor: pointer;
  transition: color 0.3s ease;
}
.post .postTitle .collapse-button {
  font-size: 1.5rem;
  font-weight: 600;
}
.post .postTitle:hover {
  color: #092a55;
  filter: brightness(0.85);
}
.post .content {
  margin-bottom: 20px;
  max-width: clamp(320px, 90%, 1000px);
  margin: auto;
}
.post .content h2 {
  font-size: 2.5rem;
  color: #092a55;
  font-weight: 700;
}
.post .content h3 {
  font-size: 2rem;
  font-weight: 600;
}
.post .content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  color: #112820;
  margin-bottom: 15px;
}
.post .content img {
  position: relative;
  width: 100%;
  height: auto;
}

.timeline {
  position: fixed;
  top: var(--navbar-height);
  right: 0;
  width: 200px;
  background-color: rgba(9, 42, 85, 0.9);
  z-index: 1;
  padding: 2vh 2vh;
  overflow-y: auto;
  height: 100vh;
  box-shadow: -2px 0 5px rgba(1, 22, 39, 0.2);
  border-radius: 0.25rem;
}
.timeline .entry {
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgba(220, 232, 255, 0.1);
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
}
.timeline .entry:hover {
  background-color: rgba(220, 232, 255, 0.2);
}
.timeline a {
  display: block;
  color: #4bdbad;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.timeline a:hover {
  color: #dce8ff;
}

body {
  background-color: #112820;
  color: #112820;
}

h1 {
  font-size: 3rem;
  color: #4bdbad;
  text-align: center;
  margin: 30px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(1, 22, 39, 0.5);
}

.timeline-toggle {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(200, 200, 200, 0.8);
  padding: 10px 5px;
  cursor: pointer;
  z-index: 991;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.timeline-toggle i {
  color: #011627;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 781px) {
  .timeline {
    right: 0;
  }
  .timeline-toggle {
    display: none;
  }
}
@media (max-width: 780px) {
  .timeline {
    display: block;
  }
  .timeline-toggle {
    display: block;
  }
  .post {
    width: 100vw;
  }
  .post .content h2 {
    font-size: 2rem;
    color: #092a55;
    font-weight: 700;
  }
  .post .content h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .post .content p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8;
    color: #112820;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=blog.css.map */