// Color palette
$primary-color: #112820;
$secondary-color: #092a55;
$accent-color: #011627;
$accent-color-2: #4bdbad;
$accent-color-3: #dce8ff;

// Additional variables for readability
$text-color: $primary-color;
$background-color: rgba($accent-color-3, 0.3);
$border-color: rgba($accent-color-2, 0.5);

#blog-container {
	padding-top: var(--navbar-height);
}

// Styles individual posts
.post {
	padding: 20px;
	margin-bottom: 30px;
	background: $background-color;
	width: 100%;
	box-shadow: 0 4px 6px rgba($accent-color, 0.1);
	transition: transform 0.3s ease;
	border-radius: 0.25rem;

	&:hover {
		transform: translateY(-5px);
	}

	// Hints that the post title is clickable
	.postTitle {
		font-size: 2.8rem;
		font-weight: 700;
		margin-bottom: 15px;
		color: $secondary-color;
		text-shadow: 1px 1px 2px rgba($primary-color, 0.5);
		cursor: pointer;
		transition: color 0.3s ease;

		.collapse-button {
			font-size: 1.5rem;
			font-weight: 600;
		}

		&:hover {
			color: $secondary-color;
			filter: brightness(0.85);
		}
	}

	.content {
		margin-bottom: 20px;
		max-width: clamp(320px, 90%, 1000px);
		margin: auto;

		h2 {
			font-size: 2.5rem;
			color: $secondary-color;
			font-weight: 700;
		}

		h3 {
			font-size: 2rem;
			font-weight: 600;
		}

		p {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.8;
			color: $text-color;
			margin-bottom: 15px;
		}

		img {
			position: relative;
			width: 100%;
			height: auto;
		}
	}
}

// Styles the timeline
.timeline {
	position: fixed;
	top: var(--navbar-height);
	right: 0;
	width: 200px;
	background-color: rgba($secondary-color, 0.9);
	z-index: 1;
	padding: 2vh 2vh;
	overflow-y: auto;
	height: 100vh;
	box-shadow: -2px 0 5px rgba($accent-color, 0.2);
	border-radius: 0.25rem;

	// Makes indiviaul entries on timeline look more like clickable links
	.entry {
		margin-bottom: 15px;
		padding: 10px;
		background-color: rgba($accent-color-3, 0.1);
		border-radius: 0.4rem;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: rgba($accent-color-3, 0.2);
		}
	}

	a {
		display: block;
		color: $accent-color-2;
		text-decoration: none;
		font-weight: 500;
		transition: color 0.3s ease;

		&:hover {
			color: $accent-color-3;
		}
	}
}

// Additional styles for better readability
body {
	background-color: $primary-color;
	color: $text-color;
}

// Eye-catching header
h1 {
	font-size: 3rem;
	color: $accent-color-2;
	text-align: center;
	margin: 30px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px rgba($accent-color, 0.5);
}

.timeline-toggle {
	display: none; // Initially toggle timeline button is hidden on desktop
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: rgba(200, 200, 200, 0.8);
	padding: 10px 5px;
	cursor: pointer;
	z-index: 991;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	i {
		color: $accent-color;
	}
}

// Fixes the youtube iframe embeds in the blogs to maintain aspect ratio even on smaller viewports
.youtube-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 781px) {
	.timeline {
		right: 0;
	}

	.timeline-toggle {
		display: none;
	}
}

@media (max-width: 780px) {
	.timeline {
		display: block; // Hides timeline initially for smaller viewports
	}

	.timeline-toggle {
		display: block; // Shows timeline toggle button on smaller viewports
	}

	.post {
		width: 100vw;
		.content {
			h2 {
				font-size: 2rem;
				color: $secondary-color;
				font-weight: 700;
			}

			h3 {
				font-size: 1.6rem;
				font-weight: 600;
			}

			p {
				font-size: 1.2rem;
				font-weight: 500;
				line-height: 1.8;
				color: $text-color;
				margin-bottom: 15px;
			}
		}
	}
}
