@font-face {
  font-family: "Dosis Bold";
  src: url("../font/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: bold;
  font-family: "Dosis";
  src: url("../font/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  --navbar-height: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", system-ui, "sans serif";
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Dosis", system-ui, "sans serif";
  scrollbar-face-color: #dedede;
  scrollbar-base-color: #dedede;
  scrollbar-3dlight-color: #dedede;
  scrollbar-highlight-color: #dedede;
  scrollbar-track-color: #919bad;
  scrollbar-arrow-color: #919bad;
  scrollbar-shadow-color: #dedede;
}
html ::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.2rem;
}
html ::-webkit-scrollbar-button {
  background-color: #d8d8d8;
}
html ::-webkit-scrollbar-track {
  background-color: #dedede;
}
html ::-webkit-scrollbar-track-piece {
  background-color: #919bad;
}
html ::-webkit-scrollbar-thumb {
  height: 3rem;
  background-color: #d8d8d8;
  border-radius: 2rem;
}
html ::-webkit-scrollbar-corner {
  background-color: #dedede;
}
html ::-webkit-resizer {
  background-color: #d8d8d8;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

html,
body {
  max-width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  width: 100vw;
  background-color: #dce8ff;
  z-index: 1000;
  border-radius: 0.2rem;
}
.navbar .navbar-brand {
  padding: 0.5rem;
  color: #092a55;
  font-weight: 700;
  font-size: 1.5rem;
}
.navbar .nav-btn {
  text-align: center;
  color: #112820;
  font-size: 1.5rem;
  text-decoration: none;
}
.navbar .nav-btn:not(.nav-active):hover {
  color: #112820;
  transform: scale(1);
}
.navbar .nav-btn:not(.nav-active):hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #092a55;
  animation: underline 0.5s cubic-bezier(0.51, 0.07, 0.27, 0.85) forwards;
}
@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.navbar .nav-btn.nav-active {
  background: rgba(75, 219, 173, 0.25);
  border-radius: 0.75rem;
  pointer-events: none;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }
  .navbar .navbar-brand {
    padding-left: 1rem;
  }
  .navbar .nav-btn {
    width: 100%;
    text-align: left;
  }
  .navbar .nav-btn:hover::after {
    animation: none !important;
  }
  .navbar .nav-btn.nav-active {
    background: none !important;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 0;
  }
}
/* Parent container */
/* Background image */
.bg-img {
  background-image: url(../images/bg-main.webp);
  position: fixed;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  filter: contrast(0.6);
}
.bg-img#bg-home {
  filter: brightness(0.9);
}

@media (max-width: 768px) {
  .bg-img {
    width: 100%;
    height: 100%;
    left: 0;
    transform: none;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.backToTopBtn {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 3%;
  font-size: 4rem;
  z-index: 99;
  color: #011627;
  cursor: pointer;
  transition: transform 0.3s ease;
}
@media (max-width: 780px) {
  .backToTopBtn {
    font-size: 3rem;
  }
}
.backToTopBtn#blog-backToTop {
  right: 240px;
}
@media (max-width: 780px) {
  .backToTopBtn#blog-backToTop {
    right: 3%;
  }
}

@media (min-width: 780px) {
  .backToTopBtn:hover {
    color: #011627;
    transform: scale(1.1);
  }
}/*# sourceMappingURL=global.css.map */