#music-section {
  min-height: 100vh;
  padding: calc(var(--navbar-height) + 3rem) 8rem;
  background: linear-gradient(
    135deg,
    var(--base-30pct) 0%,
    var(--base-60pct) 20%,
    var(--surface-75pct) 20%,
    var(--surface) 40%,
    var(--base-30pct) 40%,
    var(--base-60pct) 60%,
    var(--surface-75pct) 60%,
    var(--surface) 80%,
    var(--base-30pct) 80%,
    var(--base-60pct) 100%
  );
}

@media (max-width: 1200px) {
  #music-section {
    padding: calc(var(--navbar-height) + 2.5rem) 4rem;
  }
}

@media (max-width: 768px) {
  #music-section {
    padding: calc(var(--navbar-height) + 2rem) 1.5rem;
  }
}
