#projects-section {
  min-height: 100vh;
  padding: calc(var(--navbar-height) + 3rem) 8rem;
  padding-bottom: 0;
  background: linear-gradient(
    135deg,
    var(--base-30pct) 0%,
    var(--base-60pct) 33%,
    var(--lavender-10pct) 33%,
    var(--surface-75pct) 66%,
    var(--base-30pct) 66%,
    var(--base-60pct) 100%
  );
}

@media (max-width: 1200px) {
  #projects-section {
    padding: calc(var(--navbar-height) + 2.5rem) 4rem;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  #projects-section {
    padding: calc(var(--navbar-height) + 2rem) 1.5rem;
    padding-bottom: 0;
  }
}
