// Color palette
$primary-color: #112820;
$secondary-color: #092a55;
$accent-color: #011627;
$accent-color-2: #4bdbad;
$accent-color-3: #dce8ff;

// Defaults the widget container settings on desktop view
#widget-container {
	background-color: rgba($accent-color-3, 0.4);
	backdrop-filter: blur(2px);
	display: grid;
	grid-template-columns: repeat(4, 1fr); // 4 1x1 widgets per row
	gap: 20px;
	padding: calc(var(--navbar-height) + 2rem) 20px 20px;
	width: 100%;
	margin: 0 auto;
}

// Styles individual widgets
.widget {
	backdrop-filter: brightness(1.2);
	border-radius: 0.5rem;
	padding: 20px;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
	transition: transform 0.2s, box-shadow 0.2s;

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25);
	}

	.widget-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		.title-container {
			display: flex;
			align-items: center;
			flex-grow: 1;
		}

		.widget-icon {
			width: 24px;
			height: 24px;
			margin-right: 10px;
			object-fit: contain;
		}

		h2 {
			margin: 0;
			font-size: 2rem;
			color: $primary-color;
			text-decoration: none;
			font-weight: bold;
		}

		.follow-button {
			padding: 5px 10px;
			font-size: 1.25rem;
			white-space: nowrap;
		}

		.button-container {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 10px;
			margin-top: 15px;
		}

		.follow-button {
			display: inline-block;
			padding: 8px 16px;
			text-decoration: none;
			border-radius: 3rem;
			transition: background-color 0.2s, transform 0.1s;
			color: $accent-color-3;
			background-color: $secondary-color;

			&:hover {
				background-color: $accent-color-2;
				color: $accent-color;
				transform: translateY(-3px);
			}

			&:active {
				background-color: $accent-color-2;
				color: $accent-color;
				transform: translateY(0);
			}
		}
	}

	p {
		margin: 0 0 15px 0;
		color: $secondary-color;
		font-weight: 600;
	}

	// Ensures embed content of the widgets maintain aspect ratio and fit the widgets accordingly
	.embed-content {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
		align-items: center;

		img,
		iframe {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
			border-radius: 0.5rem;
		}

		iframe {
			width: 100%;
			aspect-ratio: 16 / 9;
			border: none;
		}
	}

	// Gives correct grid formatting with different sized widgets (Only used in musicWidgets)
	&.size-1x1 {
		grid-column: span 1;
		grid-row: span 1;
	}

	&.size-1x2 {
		grid-column: span 1;
		grid-row: span 2;
	}

	&.size-2x1 {
		grid-column: span 2;
		grid-row: span 1;
	}

	&.size-2x2 {
		grid-column: span 2;
		grid-row: span 2;
	}
}

// Styles text-based links for the widgets content
.socials-link {
	color: #430052;

	&:hover {
		color: #2b0035;
	}
}

// Responsive design of the grids on smaller devices
@media (min-width: 1201px) {
	#widget-container {
		grid-template-columns: repeat(4, 1fr);
	}

	.widget {
		&.size-1x1 {
			grid-column: span 1;
			grid-row: span 1;
		}
		&.size-1x2 {
			grid-column: span 1;
			grid-row: span 2;
		}
		&.size-2x1 {
			grid-column: span 2;
			grid-row: span 1;
		}
		&.size-2x2 {
			grid-column: span 2;
			grid-row: span 2;
		}
	}
}

@media (min-width: 769px) and (max-width: 1200px) {
	#widget-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.widget {
		&.size-2x1,
		&.size-2x2 {
			grid-column: span 2;
		}
	}
}

@media (max-width: 768px) {
	#widget-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.widget {
		&.size-1x1,
		&.size-1x2,
		&.size-2x1,
		&.size-2x2 {
			grid-column: span 1;
			grid-row: span 1;
		}
	}
}

@media (max-width: 480px) {
	#widget-container {
		grid-template-columns: 1fr;
	}
}
