/* GLOBAL STYLES */
/* ------------------------------------ */
@font-face {
	font-family: "Dosis Bold";
	src: url("../font/Dosis-VariableFont_wght.ttf") format("truetype");
	font-weight: 500;
	font-style: bold;
	font-family: "Dosis";
	src: url("../font/Dosis-VariableFont_wght.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

:root {
	--navbar-height: 0px; // Will be dynamically set in js
}

// Color palette
$primary-color: #112820;
$secondary-color: #092a55;
$accent-color: #011627;
$accent-color-2: #4bdbad;
$accent-color-3: #dce8ff;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Dosis", system-ui, "sans serif";
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
	font-family: "Dosis", system-ui, "sans serif";

	// IE Scrollbar styles
	scrollbar-face-color: #dedede;
	scrollbar-base-color: #dedede;
	scrollbar-3dlight-color: #dedede;
	scrollbar-highlight-color: #dedede;
	scrollbar-track-color: #919bad;
	scrollbar-arrow-color: #919bad;
	scrollbar-shadow-color: #dedede;

	// Chrome Scrollbar styless
	::-webkit-scrollbar {
		width: 0.7rem;
		height: 0.2rem;
	}
	::-webkit-scrollbar-button {
		background-color: #d8d8d8;
	}
	::-webkit-scrollbar-track {
		background-color: #dedede;
	}
	::-webkit-scrollbar-track-piece {
		background-color: #919bad;
	}
	::-webkit-scrollbar-thumb {
		height: 3rem;
		background-color: #d8d8d8;
		border-radius: 2rem;
	}
	::-webkit-scrollbar-corner {
		background-color: #dedede;
	}
	::-webkit-resizer {
		background-color: #d8d8d8;
	}
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}

html,
body {
	max-width: 100%;
}

// Navbar styling
.navbar {
	position: fixed;
	display: flex;
	width: 100vw;
	background-color: $accent-color-3;
	z-index: 1000;
	border-radius: 0.2rem;

	.navbar-brand {
		padding: 0.5rem;
		color: $secondary-color;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.nav-btn {
		text-align: center;
		color: $primary-color;
		font-size: 1.5rem;
		text-decoration: none;

		&:not(.nav-active):hover {
			color: $primary-color;
			transform: scale(1);

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -5px;
				width: 0;
				height: 3px;
				background-color: $secondary-color;
				animation: underline 0.5s cubic-bezier(0.51, 0.07, 0.27, 0.85)
					forwards;
			}

			@keyframes underline {
				0% {
					width: 0;
				}

				100% {
					width: 100%;
				}
			}
		}

		&.nav-active {
			background: rgba($accent-color-2, 0.25);
			border-radius: 0.75rem;
			pointer-events: none;
		}
	}
}
// Add these new styles for mobile view

@media (max-width: 768px) {
	// This is Bootstrap's default breakpoint for md
	.navbar {
		width: 100%;
		.navbar-brand {
			padding-left: 1rem;
		}

		.nav-btn {
			width: 100%;
			text-align: left;
			&:hover::after {
				animation: none !important;
			}
			&.nav-active {
				background: none !important; // Remove background on mobile
				backdrop-filter: none;
				-webkit-backdrop-filter: none;
				border-radius: 0;
			}
		}
	}
}
// Adds filter and dynamically adjusts size of background images on all viewports
/* Background image */
.bg-img {
	background-image: url(../images/bg-main.webp);
	position: fixed;
	z-index: -1;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: cover;
	background-position: center;
	transform: scale(1.003); // Fixes border issues
	filter: contrast(0.6);

	&#bg-home {
		filter: brightness(0.9);
	}
}
@media (max-width: 768px) {
	.bg-img {
		width: 100%;
		height: 100%;
		left: 0;
		transform: none;
		object-fit: cover;
	}
}

// Styles the backToTopBtn
.backToTopBtn {
	display: none;
	position: fixed;
	bottom: 5%;
	right: 3%;
	font-size: 4rem;
	z-index: 99;
	color: $accent-color;
	cursor: pointer;
	transition: transform 0.3s ease;

	@media (max-width: 780px) {
		font-size: 3rem;
	}

	&#blog-backToTop {
		right: 240px;
		@media (max-width: 780px) {
			right: 3%;
		}
	}
}

@media (min-width: 780px) {
	.backToTopBtn:hover {
		color: $accent-color;
		transform: scale(1.1);
	}
}

/* ------------------------------------ */
/* HOMEPAGE */
/* ------------------------------------ */

// Styles the header
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.5rem;
	margin-top: 25%;
	margin-left: 10vw;
	font-weight: 500;
	max-height: 100%;
	overflow: hidden;

	h1 {
		text-align: left;
		font-weight: 800;
		font-size: 7rem;
		letter-spacing: 0.02rem;
		margin: 0;
		color: rgba($accent-color, 0.85);
		text-transform: none;
		mix-blend-mode: hard-light;
	}

	img {
		border-radius: 50%;
		animation: 1.5s cubic-bezier(0.51, 0.07, 0.27, 0.85) 0.2s both avatar;
		border-radius: 50%;
		width: clamp(120px, 26vmin, 200px);
		height: clamp(120px, 26vmin, 200px);
		pointer-events: none;
	}

	@keyframes avatar {
		0% {
			transform: scale(0.8);
			opacity: 0;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}

	.nav-btn {
		font-size: 2.5rem;
		display: block;
		width: 100%;
		text-align: center;
		padding: 0 0.75rem;
		&#about-me-btn {
			padding-left: 0;
		}
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	#index-nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		padding: 0; // Remove default padding
	}
	.list-group-item {
		flex: 0 1 auto; // Changed from 1 1 auto to prevent stretching
		margin: 0 !important; // Override any default margins
		padding: 0 !important; // Override any default padding
	}
}

@media (max-width: 1200px) {
	header {
		margin-top: 25%;
		h1 {
			font-size: 5rem;
		}

		.index-link {
			font-size: 1.8rem;
		}
		flex-direction: auto;
		margin-right: auto;
		margin-left: auto;
		max-width: 80vw;
	}
}

@media (max-width: 960px) {
	header {
		margin-top: 15%;
		flex-direction: column;
		gap: 20px;
		margin-right: auto;
		margin-left: auto;
		max-width: 80vw;
		h1 {
			text-align: center;
			font-size: 4rem;
		}
		.index-link {
			font-size: 2rem;
		}
	}
}

@media (max-width: 790px) {
	header {
		#index-nav {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px; // Consistent with the flex gap
		}

		.list-group-item {
			width: 100%;
		}
		margin-top: 15%;
		margin-right: auto;
		margin-left: auto;
		max-width: 80vw;
	}
}

@media (max-width: 620px) {
	#homepage-body {
		max-height: 100%;
		overflow: auto;
	}

	header {
		gap: 0px; // Consistent with the flex gap

		img {
			flex-direction: column;
			margin-top: 0;
			margin-bottom: 0;
		}

		h1 {
			margin: 0;
		}

		grid-template-columns: 1fr;
		max-width: 80%; // Adjust this value as needed
		margin-left: auto;
		margin-right: auto;
		gap: 20px; // Consistent with the flex gap
		.nav-btn {
			text-align: left;
			&#about-me-btn {
				padding-left: 0.75rem;
			}
		}
		.index-link {
			font-size: 2rem;
		}
	}
}

/* ------------------------------------ */
/* ABOUT */
/* ------------------------------------ */

// Styles the about page
#about {
	padding: calc(var(--navbar-height) + 2rem) 0;
	background-color: rgba($accent-color-3, 0.4);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);

	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
	}

	h2 {
		color: $accent-color-2;
		font-size: 4rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 2rem;
		text-shadow: 2px 2px 4px rgba($accent-color, 0.5);
	}

	.about-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center; // Center the content horizontally
		align-items: flex-start;
		margin-bottom: 3rem;
	}

	.bio {
		flex: 1 1 300px;
		max-width: 70%; // Limit the maximum width
		padding: 0 2rem; // Add horizontal padding
		text-align: left; // Keep text left-aligned

		p {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.8;
			margin-bottom: 1rem;
			color: $primary-color;
		}
	}

	// Adds eye-catching styles for skills section
	.skills {
		h3 {
			color: $accent-color;
			font-size: 3rem;
			text-align: center;
			margin-bottom: 1.5rem;
		}

		.skills-tabs {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 1.5rem;
			font-size: 1.5rem;

			.tab-button {
				background-color: $secondary-color;
				color: $accent-color-3;
				border: none;
				padding: 0.5rem 1rem;
				margin: 0.25rem;
				cursor: pointer;
				transition: all 0.3s ease;
				flex: 1 1 auto;
				max-width: 150px;
				border-radius: 0.25rem;

				&.skills-active,
				&:hover {
					background-color: $accent-color-2;
					color: $accent-color;
				}
			}
		}

		.skills-content {
			.skills-list {
				display: none;
				flex-wrap: wrap;
				justify-content: center;
				list-style-type: none;
				padding: 0;

				&.skills-active {
					display: flex;
				}

				li {
					background-color: $secondary-color;
					color: $accent-color-3;
					padding: 0.5rem 1rem;
					margin: 0.5rem;
					border-radius: 0.5rem;
					font-size: 1.8rem;
					transition: all 0.3s ease;

					&:hover {
						background-color: $accent-color-2;
						color: $accent-color;
						transform: translateY(-3px);
					}
				}
			}
		}
	}
}

@media (min-width: 769px) {
	.mobile-caret {
		display: none;
	}
}

@media (max-width: 768px) {
	#about {
		.about-header {
			cursor: pointer;
			font-size: 3rem;
		}

		.mobile-caret {
			display: inline-block;
			font-size: 2.5rem;
		}

		.about-content {
			flex-direction: column;
			align-items: center; // Center items vertically on small screens
			max-height: 1000px; // Adjust this value as needed
			overflow: hidden;
			transition: max-height 0.3s ease-out;

			&.collapsed {
				max-height: 0;
			}
		}

		.bio {
			padding: 0 1rem; // Reduce padding on small screens
			max-width: 90%; // Limit the maximum width
			p {
				font-size: 1.1rem;
			}
		}

		.skills {
			.skills-tabs {
				flex-direction: column;
				align-items: center;

				.tab-button {
					width: 100%;
					max-width: none;
					text-align: center;
					margin: 0.25rem 0;
				}
			}
		}
	}
}

/* ------------------------------------ */
/* SOCIALS */
/* ------------------------------------ */

// Defaults the widget container settings on desktop view
#widget-container {
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	display: grid;
	grid-template-columns: repeat(4, 1fr); // 4 1x1 widgets per row
	gap: 20px;
	padding: calc(var(--navbar-height) + 2rem) 20px 20px;
	width: 100%;
	margin: 0 auto;
}

// Styles individual widgets
.widget {
	background-color: rgba($accent-color-3, 0.4);
	backdrop-filter: brightness(1.2);
	border-radius: 0.5rem;
	padding: 20px;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
	transition: transform 0.2s, box-shadow 0.2s;

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25);
	}

	.widget-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		.title-container {
			display: flex;
			align-items: center;
			flex-grow: 1;
		}

		.widget-icon {
			width: 24px;
			height: 24px;
			margin-right: 10px;
			object-fit: contain;
		}

		h2 {
			margin: 0;
			font-size: 2rem;
			color: $primary-color;
			text-decoration: none;
			font-weight: bold;
		}

		.follow-button {
			padding: 5px 10px;
			font-size: 1.25rem;
			white-space: nowrap;
		}

		.button-container {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 10px;
			margin-top: 15px;
		}

		.follow-button {
			display: inline-block;
			padding: 8px 16px;
			text-decoration: none;
			border-radius: 3rem;
			transition: background-color 0.2s, transform 0.1s;
			color: $accent-color-3;
			background-color: $secondary-color;

			&:hover {
				background-color: $accent-color-2;
				color: $accent-color;
				transform: translateY(-3px);
			}

			&:active {
				background-color: $accent-color-2;
				color: $accent-color;
				transform: translateY(0);
			}
		}
	}

	p {
		margin: 0 0 15px 0;
		color: $secondary-color;
		font-weight: 600;
	}

	// Ensures embed content of the widgets maintain aspect ratio and fit the widgets accordingly
	.embed-content {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
		align-items: center;

		img,
		iframe {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
			border-radius: 0.5rem;
		}

		iframe {
			width: 100%;
			aspect-ratio: 16 / 9;
			border: none;
		}
	}

	// Gives correct grid formatting with different sized widgets (Only used in musicWidgets)
	&.size-1x1 {
		grid-column: span 1;
		grid-row: span 1;
	}

	&.size-1x2 {
		grid-column: span 1;
		grid-row: span 2;
	}

	&.size-2x1 {
		grid-column: span 2;
		grid-row: span 1;
	}

	&.size-2x2 {
		grid-column: span 2;
		grid-row: span 2;
	}
}

// Styles text-based links for the widgets content
.socials-link {
	color: #430052;

	&:hover {
		color: #2b0035;
	}
}

// Responsive design of the grids on smaller devices
@media (min-width: 1201px) {
	#widget-container {
		grid-template-columns: repeat(4, 1fr);
	}

	.widget {
		&.size-1x1 {
			grid-column: span 1;
			grid-row: span 1;
		}
		&.size-1x2 {
			grid-column: span 1;
			grid-row: span 2;
		}
		&.size-2x1 {
			grid-column: span 2;
			grid-row: span 1;
		}
		&.size-2x2 {
			grid-column: span 2;
			grid-row: span 2;
		}
	}
}

@media (min-width: 769px) and (max-width: 1200px) {
	#widget-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.widget {
		&.size-2x1,
		&.size-2x2 {
			grid-column: span 2;
		}
	}
}

@media (max-width: 768px) {
	#widget-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.widget {
		&.size-1x1,
		&.size-1x2,
		&.size-2x1,
		&.size-2x2 {
			grid-column: span 1;
			grid-row: span 1;
		}
	}
}

@media (max-width: 480px) {
	#widget-container {
		grid-template-columns: 1fr;
	}
}

/* ------------------------------------ */
/* BLOG */
/* ------------------------------------ */

// Additional variables for readability
$text-color: $primary-color;
$background-color: rgba($accent-color-3, 0.3);
$border-color: rgba($accent-color-2, 0.5);

#blog-container {
	padding-top: var(--navbar-height);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}

// Styles individual posts
.post {
	padding: 20px;
	margin-bottom: 30px;
	background: $background-color;
	width: 100%;
	box-shadow: 0 4px 6px rgba($accent-color, 0.1);
	transition: transform 0.3s ease;
	border-radius: 0.25rem;

	&:hover {
		transform: translateY(-5px);
	}

	// Hints that the post title is clickable
	.postTitle {
		font-size: 2.8rem;
		font-weight: 700;
		margin-bottom: 15px;
		color: $secondary-color;
		text-shadow: 1px 1px 2px rgba($primary-color, 0.5);
		cursor: pointer;
		transition: color 0.3s ease;

		.collapse-button {
			font-size: 1.5rem;
			font-weight: 600;
		}

		&:hover {
			color: $secondary-color;
			filter: brightness(0.85);
		}
	}

	.content {
		margin-bottom: 20px;
		max-width: clamp(320px, 90%, 1000px);
		margin: auto;

		h2 {
			font-size: 2.5rem;
			color: $secondary-color;
			font-weight: 700;
		}

		h3 {
			font-size: 2rem;
			font-weight: 600;
		}

		p {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.8;
			color: $text-color;
			margin-bottom: 15px;
		}

		img {
			position: relative;
			width: 100%;
			height: auto;
		}
	}
}

// Styles the timeline
.timeline {
	position: fixed;
	top: var(--navbar-height);
	right: 0;
	width: 200px;
	background-color: rgba($secondary-color, 0.9);
	z-index: 1;
	padding: 2vh 2vh;
	overflow-y: auto;
	height: 100vh;
	box-shadow: -2px 0 5px rgba($accent-color, 0.2);
	border-radius: 0.25rem;

	// Makes indiviaul entries on timeline look more like clickable links
	.entry {
		margin-bottom: 15px;
		padding: 10px;
		background-color: rgba($accent-color-3, 0.1);
		border-radius: 0.4rem;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: rgba($accent-color-3, 0.2);
		}
	}

	a {
		display: block;
		color: $accent-color-2;
		text-decoration: none;
		font-weight: 500;
		transition: color 0.3s ease;

		&:hover {
			color: $accent-color-3;
		}
	}
}

// Additional styles for better readability
body {
	background-color: $primary-color;
	color: $text-color;
}

// Eye-catching header
h1 {
	font-size: 3rem;
	color: $accent-color-2;
	text-align: center;
	margin: 30px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px rgba($accent-color, 0.5);
}

.timeline-toggle {
	display: none; // Initially toggle timeline button is hidden on desktop
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: rgba(200, 200, 200, 0.8);
	padding: 10px 5px;
	cursor: pointer;
	z-index: 991;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	i {
		color: $accent-color;
	}
}

// Fixes the youtube iframe embeds in the blogs to maintain aspect ratio even on smaller viewports
.youtube-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 781px) {
	.timeline {
		right: 0;
	}

	.timeline-toggle {
		display: none;
	}
}

@media (max-width: 780px) {
	.timeline {
		display: block; // Hides timeline initially for smaller viewports
	}

	.timeline-toggle {
		display: block; // Shows timeline toggle button on smaller viewports
	}

	.post {
		width: 100vw;
		.content {
			h2 {
				font-size: 2rem;
				color: $secondary-color;
				font-weight: 700;
			}

			h3 {
				font-size: 1.6rem;
				font-weight: 600;
			}

			p {
				font-size: 1.2rem;
				font-weight: 500;
				line-height: 1.8;
				color: $text-color;
				margin-bottom: 15px;
			}
		}
	}
}

/* ------------------------------------ */
/* MUSIC */
/* ------------------------------------ */

// Styles music page
#music {
	h1 {
		color: $accent-color-2;
		font-size: 4rem;
		font-weight: 800;
		text-align: center;
		margin-bottom: 1rem;
		text-shadow: 2px 2px 4px rgba($accent-color, 0.5);
		text-transform: none;
	}

	p {
		color: $accent-color;
		font-weight: 600;
		text-decoration: underline $primary-color;
	}
}

#playlists-container {
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	padding-top: calc(var(--navbar-height) + 2rem);

	#widget-container {
		padding: 0 2vw;
	}
}

// Centers the iframe
.iframe-container {
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	padding-top: 3vh;
	text-align: center;
}

#lastfmstats {
	height: calc(95vh - var(--navbar-height));
}
