/* OVERALL */
/* ------------------------------------ */
@font-face {
  font-family: "Dosis Bold";
  src: url("./font/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: bold;
  font-family: "Dosis";
  src: url("./font/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", system-ui, "sans serif";
}

:root {
  --navbar-height: 0px; /* Adjust this value to match your navbar's height */
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Internet Explorer */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.navbar {
  width: 100vw;
  background-color: rgb(14, 64, 61);
  position: fixed;
  z-index: 1000;
}

.navbar-brand,
.nav-item {
  padding-left: 3vw;
}

.nav-btn {
  color: rgba(166, 255, 210, 0.68);
  font-size: 1.5rem;
  text-decoration: none;
  transition: transform 0.69s cubic-bezier(0.51, 0.07, 0.27, 0.85);
}
.nav-btn:not(.active):hover {
  color: rgba(225, 236, 99, 0.92);
  transform: scale(1);
}
.nav-btn:not(.active):hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #cf5269;
  animation-name: underline;
  animation-duration: 0.69s;
  animation-timing-function: cubic-bezier(0.51, 0.07, 0.27, 0.85);
  animation-fill-mode: forwards;
}
@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.nav-btn.disabled {
  color: rgba(255, 230, 163, 0.8);
}

.index-link {
  font-size: 2.5rem;
}

.active {
  text-align: center;
  max-width: 180px;
  background: rgba(234, 250, 208, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  color: rgba(166, 255, 210, 0.68);
  pointer-events: none;
}

.navbar-brand {
  color: #b6ef4b;
  font-weight: 600;
  font-size: 1.5rem;
  transition: transform 0.4s cubic-bezier(0.51, 0.07, 0.27, 0.85);
}
.navbar-brand:hover {
  color: #91d335;
  font-weight: 800;
  transform: scale(1.1);
}

.bg-img {
  position: fixed;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  /* Force filter to be run by GPU */
  transform: translateZ(0px);
  /* Removes white border after filtering */
  transform: scale(1.1);
  filter: blur(7px) brightness(0.8);
  inset: -30px;
  /* Set for most browsers */
  background-size: cover;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1080px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
}
.bg-img::after {
  transform: scale(1);
}
.bg-img#bg-home {
  filter: blur(3px) brightness(0.9);
}

/* ------------------------------------ */
/* HOMEPAGE */
/* ------------------------------------ */
#pfp {
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  transform: translateY(-60%);
  margin-top: 70vh;
  margin-left: 10vw;
  font-weight: 500;
  color: rgba(255, 228, 204, 0.72);
}
header h1 {
  font-weight: 800;
  font-size: 7rem;
  letter-spacing: 0.02rem;
}
header img {
  animation: 1.5s cubic-bezier(0.51, 0.07, 0.27, 0.85) 0.2s both avatar;
  border-radius: 50%;
  width: clamp(120px, 26vmin, 200px);
  height: clamp(120px, 26vmin, 200px);
  pointer-events: none;
}
@keyframes avatar {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
header section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.index-nav-wrapper {
  width: 100%;
}

#index-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.list-group-item {
  flex: 0 1 auto;
  margin: 0 !important;
  padding: 0 !important;
}

.nav-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
}

@media (max-width: 1200px) {
  header {
    flex-direction: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 80vw;
  }
  header h1 {
    font-size: 5rem;
  }
  header .index-link {
    font-size: 1.75rem;
  }
}
@media (max-width: 950px) {
  header {
    margin-top: 50vh;
    flex-direction: column;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 80vw;
  }
  header h1 {
    text-align: center;
    font-size: 4rem;
  }
}
@media (max-width: 780px) {
  header {
    margin-top: 60vh;
    margin-right: auto;
    margin-left: auto;
    max-width: 80vw;
  }
  header .index-nav-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  header #index-nav {
    display: contents;
  }
  header .list-group-item {
    width: 100%;
  }
}
@media (max-width: 620px) {
  header {
    margin-top: 60vh;
  }
  header .index-nav-wrapper {
    grid-template-columns: 1fr;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  header #index-nav {
    text-align: center;
  }
  header .list-group-item {
    display: block;
    margin-bottom: 10px;
  }
}
/* ------------------------------------ */
/* ABOUT */
/* ------------------------------------ */
.fullscreen-section {
  width: 100vw;
  height: 100vh;
  padding: 0 15vw 0 15vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen-section p {
  font-size: 5rem;
  color: rgb(71, 64, 87);
  line-height: 1.5;
  text-align: center;
}

.backToTopBtn {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 3%;
  font-size: 4rem;
  z-index: 99;
  color: #44ff98;
  cursor: pointer;
  transition: transform 1s ease;
}
.backToTopBtn#blog-backToTop {
  right: 240px;
}
@media (max-width: 780px) {
  .backToTopBtn#blog-backToTop {
    right: 3%;
  }
}

.backToTopBtn:hover {
  color: #2b625a;
  transform: scale(1.3);
}

.fa-chevron-down {
  position: fixed;
  bottom: 5%;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
#scroll-indicator {
  position: fixed;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: rgba(98, 255, 232, 0.4980392157);
  opacity: 1;
  transition: opacity 0.3s ease;
}
#scroll-indicator .hide {
  opacity: 0;
  pointer-events: none;
}
#scroll-indicator i {
  animation: bounce 2s infinite;
  animation-delay: 10s;
}

/* ------------------------------------ */
/* CONNECTIONS */
/* ------------------------------------ */
#widget-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 80px 20px 20px;
  width: 100%;
  margin: 0 auto;
}

.widget {
  background-color: rgba(0, 209, 188, 0.1647058824);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
}
.widget:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}
.widget .widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.widget .widget-header .title-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.widget .widget-header .widget-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.widget .widget-header h2 {
  margin: 0;
  font-size: 2rem;
  color: #0b332e;
  text-decoration: none;
  font-weight: bold;
}
.widget .widget-header .follow-button {
  padding: 5px 10px;
  font-size: 1.25rem;
  white-space: nowrap;
}
.widget p {
  margin: 0 0 15px 0;
  color: #00fff2;
  font-weight: 500;
}
.widget.size-1x1 {
  grid-column: span 1;
  grid-row: span 1;
}
.widget.size-1x2 {
  grid-column: span 1;
  grid-row: span 2;
}
.widget.size-2x1 {
  grid-column: span 2;
  grid-row: span 1;
}
.widget.size-2x2 {
  grid-column: span 2;
  grid-row: span 2;
}
.widget .embed-content {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget .embed-content img,
.widget .embed-content iframe {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
.widget .embed-content iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}
.widget .button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.widget .follow-button,
.widget .widget-link {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border: 3px rgba(0, 140, 179, 0.6117647059);
  border-radius: 6px;
  border-style: groove;
  font-size: 14px;
  transition: background-color 0.2s, transform 0.1s;
}
.widget .follow-button:hover,
.widget .widget-link:hover {
  transform: translateY(-2px);
}
.widget .follow-button:active,
.widget .widget-link:active {
  transform: translateY(0);
}
.widget .follow-button {
  background-color: #007bff;
  color: #fff;
}
.widget .follow-button:hover {
  background-color: #0056b3;
}
.widget .widget-link {
  background-color: #3f28a7;
  color: #fff;
}
.widget .widget-link:hover {
  background-color: #1f1548;
}

@media (min-width: 1201px) {
  #widget-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .widget.size-1x1 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .widget.size-1x2 {
    grid-column: span 1;
    grid-row: span 2;
  }
  .widget.size-2x1 {
    grid-column: span 2;
    grid-row: span 1;
  }
  .widget.size-2x2 {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #widget-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .widget.size-2x1, .widget.size-2x2 {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  #widget-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .widget.size-1x1, .widget.size-1x2, .widget.size-2x1, .widget.size-2x2 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media (max-width: 480px) {
  #widget-container {
    grid-template-columns: 1fr;
  }
}
/* ------------------------------------ */
/* BLOG */
/* ------------------------------------ */
#blog-container {
  padding-top: var(--navbar-height);
}

.post {
  border: 3px dotted rgba(31, 38, 135, 0.5);
  padding: 10px;
  margin-bottom: 20px;
  background: rgba(225, 225, 225, 0.55);
  width: calc(100vw - 200px);
}
.post .title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.post .content {
  margin-bottom: 0.08vh;
  max-width: clamp(320px, 90%, 840px);
  margin: auto;
}
.post .content p {
  font-size: 1.25rem;
  font-weight: 450;
  line-height: 1.5;
}
.post .collapse-button {
  cursor: pointer;
  color: rgb(40, 183, 142);
}

.timeline {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  background-color: rgba(162, 173, 195, 0.9137254902);
  z-index: 999;
  padding: var(--navbar-height) 0 0 10px;
  overflow-y: auto;
  height: 100vh;
  transition: right 0.3s ease;
}
.timeline .entry {
  margin-bottom: 5px;
}
.timeline a {
  display: block;
  color: blue;
  text-decoration: none;
}

.timeline-toggle {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(200, 200, 200, 0.8);
  padding: 10px 5px;
  cursor: pointer;
  z-index: 1001;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.timeline-toggle i {
  color: #333;
}

@media (min-width: 781px) {
  .timeline {
    right: 0;
  }
  .timeline-toggle {
    display: none;
  }
}
@media (max-width: 780px) {
  .timeline {
    display: block;
  }
  .timeline-toggle {
    display: block;
  }
  .post {
    width: calc(100vw - 40px);
    margin-right: 40px;
  }
}
@media (max-width: 620px) {
  .post {
    width: calc(100vw - 20px);
  }
}
/* ------------------------------------ */
/* MUSIC */
/* ------------------------------------ */
.center-iframe {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */